      
       *{margin: 0;padding: 0;box-sizing: 0;font-family: 'Mouse Memoirs', sans-serif;text-decoration: none;list-style: none;color: white;}
@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');
.header{display: flex;height: 100vh;background-image: url(oswald-elsaboath-ym_EI-DTS1g-unsplash\ \(1\).jpg);background-position: center;background-repeat: no-repeat;background-size: cover;position: relative;}
.navbar{background-color: rgba(19, 19, 19, 0.753);
        display: flex; justify-content: space-between;
        align-items: center; width: 100% ; 
        font-size: 20px;padding: 15px;height: 22px;}
       .icon{color: goldenrod;font-size: 18px;}
       .icon i{padding-right: 6px;color: goldenrod;padding-bottom: 2px;}
       .icon span{color: rgb(255, 255, 255);}
       .navbar ul{display: flex;width: 30%;justify-content: space-between;letter-spacing: 1px;font-size: 15px;}
       .header::before{content: " ";position: absolute; top: 0;left: 0;height: 100vh;width: 100%; background-color: rgba(32, 32, 32, 0.6);}
       .content{ display: flex; position: absolute;justify-content: center;align-items: center;height: 100%;width: 100%;flex-direction: column;}
       .content p{display: block; margin: 15px;}
       .btn{background-color: rgb(15, 101, 214);box-shadow: 2px 2px 2px black; width: 120px;height: 35px; border: none;border-radius: 20px;margin: 15px;cursor: pointer;}
       .btn i{padding-right: 3px;font-size: 20px;}
      .header *{z-index: 5;}